.hotel-card {
    display: flex;
    flex-direction: row;
}

.hotel-card-top {
    display: flex;
}

.hotel-card-top-right {
    display: flex;
    flex-direction: column;
    flex: 5;
    padding-left: 2vw;
}

.hotel-card-top-right > h3 {
    font-weight: 600;
}

.hotel-card-top-right > h4 {
    margin-top: 2vh;
    font-weight: 600;
}

.hotel-card-top-right-services > span {
    color: rgba(0, 0, 0, 0.5);
}

.hotel-card-top-right-services > span:not(.first) {
    padding: 0 12px;
}

.hotel-card-top-left {
    display: flex;
    flex: 2.3;
}

.hotel-card-top-left > img {
    width: 100%;
    max-width: 299px;
}

@media only screen and (max-width: 375px) {
    .hotel-card {
        display: flex;
        padding: 0 4vw;
        justify-content: center;
        flex-direction: column;
    }
}