:root {
    --secondaryColor: #FFFFFF;
    --thirdColor: #2A2FAF;
}

#pi-first {
    max-width: 980px;
    margin: 3vh auto 0;
    height: 60vh;
}

.pi-f-top {
    display: flex;
}

.pi-f-top-right {
    display: flex;
    flex-direction: column;
    flex: 5;
    padding-left: 2vw;
}

.pi-f-top-right > h3 {
    font-weight: 600;
}

.pi-f-top-right > h4 {
    margin-top: 2vh;
    font-weight: 600;
}

.pi-f-top-right-services > span {
    color: rgba(0, 0, 0, 0.5);
}

.pi-f-top-right-services > span:not(.first) {
    padding: 0 12px;
}

.pi-f-top-left {
    display: flex;
    flex: 2.3;
}

.pi-f-top-left > img {
    width: 100%;
    max-width: 299px;
}

.mt {
    margin-top: 0.3vh;
}

button {
    margin-top: 3vh;
    color: var(--secondaryColor);
    background-color: var(--thirdColor);
    height: 40px;
    width: 298px;
    border: none;
    font-size: 1.2rem;
    border-radius: 10px;
}